h1{
    font-size: 3em;
    border: 30px solid transparent;
    padding: 15px;

}

#fun_text_1{
    border-image: url(/assets/border.png) 30 stretch;
    color: darkblue;
}

#fun_text_2{
    border-image: url(/assets/flower.jpg) 100/10px round;
    color: darkgoldenrod;
}